<.flash_group flash={@flash} />
<div class="bg-white-500 text-slate-700 py-20 text-center">
    <h1 class="text-4xl font-bold">Welcome to Mibli</h1>
    <p class="mt-4">Manage your books and track your reading.</p>
    <button class="mt-6 bg-sky-600 hover:bg-sky-700 text-white px-4 py-2 rounded">        
        <.link href={~p"/books"}>
            Get Started
        </.link>
    </button>
</div>

