<li class="text-gray-700 hover:text-gray-900 cursor-pointer text-base lg:text-lg pt-10 md:pt-0 md:ml-5 lg:ml-10">
    <%= link "Minha conta", to: Routes.user_settings_path(@conn, :edit), class: "font-medium text-indigo-600 hover:text-indigo-500"  %>  
</li>
<li class="text-gray-700 hover:text-gray-900 cursor-pointer text-base lg:text-lg pt-10 md:pt-0 md:ml-5 lg:ml-10">
    <%= link "Sair", to: Routes.user_session_path(@conn, :delete), method: :delete, class: "font-medium text-indigo-600 hover:text-indigo-500"  %>  
</li>    
    
