<%= if @current_user do %>
  <%= @current_user.email %>
  <%= link "Settings", to: Routes.user_settings_path(@conn, :edit), class: "font-medium text-indigo-600 hover:text-indigo-500"  %>  
  <%= link "Log out", to: Routes.user_session_path(@conn, :delete), method: :delete, class: "font-medium text-indigo-600 hover:text-indigo-500"  %>  
<% else %>  
  <%= link "Registrar", to: Routes.user_registration_path(@conn, :new), class: "font-medium text-indigo-600 hover:text-indigo-500" %>    
  <%= link "Entrar", to: Routes.user_session_path(@conn, :new), class: "font-medium text-indigo-600 hover:text-indigo-500"  %>  
<% end %>
